@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 60%; /* Adjust the font size to 60% of the original */
  padding: 70px;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.6vw; /* Adjust the font size for h1 */
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.18vw; /* Adjust the font size for h2 */
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
  margin-top: 30px;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.34vw; /* Adjust the font size for h3 */
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  margin-bottom: 5px;
  margin-top: 25px;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.32vw; /* Adjust the font size for h4 */
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  margin-bottom: 5px;
  margin-top: 25px;
}

button {
  background-color: #FFFFFF; /* Green */
  border: none;
  color: white;
  border: 0;
  padding: 0;
}

.bottomright {
  position: fixed;
  bottom: 8px;
  right: 16px;
  font-size: 2vw;
  z-index: 999; /* Ensure it's above other content */
  border: 2px ; /* Add a border */
  padding: 5px; /* Add padding to the box */
  background-color: white; /* Fill with white color */
  border-radius: 20px; /* Add rounded corners */
}

.bottomleft {
  position: fixed;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
  z-index: 999; /* Ensure it's above other content */
  border: 2px; /* Add a border */
  padding: 5px; /* Add padding to the box */
  background-color: white; /* Fill with white color */
  border-radius: 20px; /* Add rounded corners */
}


.obsidian-button {
  display: inline-block;
  border: none;
  padding: 1em 2em;
  background-color: #2E3440;
  color: #D8DEE9;
  font-family: 'Inter', sans-serif;
  font-size: 0.6em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 1.6em; /* Rounded corners */
}

.obsidian-button:hover {
  background-color: #3B4252;
}

.obsidian-button::after {
  content: "vCard file";
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  font-size: 1em;
  padding: 0.6em 1.8em;
  border-radius: 1.2em;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}


@media (min-width: 1000px){

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}
}

@media (min-width: 400px) and (max-width: 999px)  {
  body {
    font-size: 2.8vh;
    padding: 2.5em;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 2.0em;
  }

  h2 {
    font-size: 1.8em;
    margin-top: 5px;
  }

  h3 {
    font-size: 1.6em;
    margin-top: 5px;
  }

  h4 {
    font-size: 1.4em;
    margin-top: 5px;
  }

  .obsidian-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .obsidian-button:hover::after {
    opacity: 1;
  }

  .bottomright {
  position: fixed;
  bottom: 8px;
  right: 16px;
  font-size: 2vw;
  z-index: 999; /* Ensure it's above other content */
}

.bottomleft {
  position: fixed;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
  z-index: 999; /* Ensure it's above other content */
}
}
