body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#map {
    max-height: 500px;
    max-width: 800px;
    height: 50%;
    width: 90%;
}

button {
    margin-top: 10px;
}

#result, #poi-name {
    margin-top: px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

.poi-marker {
    background-color: red;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid white;
}

.bottomright {
    position: fixed;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    z-index: 999; /* Ensure it's above other content */
    border: 2px solid rgba(255,255,255,0); /* Add a border */
    padding: 5px; /* Add padding to the box */
    background-color: white; /* Fill with white color */
    border-radius: 20px; /* Add rounded corners */
  }

  .bottomleft {
    position: fixed;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    z-index: 999; /* Ensure it's above other content */
  }

